# Public pay-to details for /pay (not secrets). Override if the account changes.
HISAAR_ACCOUNT_TITLE=Muhammad Zubair Rafiq
HISAAR_JAZZCASH=03030609872
HISAAR_EASYPAISA=03030609872
HISAAR_SADAPAY=03030609872
HISAAR_BANK_NAME=Bank Alfalah
HISAAR_IBAN=PK76BAHL5515182300959401
HISAAR_ACCOUNT_NUMBER=5515-1823-009594-01-0
HISAAR_WHATSAPP=923030609872
